@font-face {
  font-family: "P8SCII";
  src: url("/fonts/P8SCII.ttf") format("truetype");
  font-display: swap;
}

:root {
    --px: 4px;
    --px2: 8px;
    --col-0: #000000;
    --col-1: #1D2B53;
    --col-2: #7E2553;
    --col-3: #008751;
    --col-4: #AB5236;
    --col-5: #5F574F;
    --col-6: #C2C3C7;
    --col-7: #FFF1E8;
    --col-8: #FF004D;
    --col-9: #FFA300;
    --col-10: #FFEC27;
    --col-11: #00E436;
    --col-12: #29ADFF;
    --col-13: #83769C;
    --col-14: #FF77A8;
    --col-15: #FFCCAA;
    --col-neg-16: #291814;
    --col-neg-15: #111D35;
    --col-neg-14: #422136;
    --col-neg-13: #125359;
    --col-neg-12: #742F29;
    --col-neg-11: #49333B;
    --col-neg-10: #A28879;
    --col-neg-9: #F3EF7D;
    --col-neg-8: #BE1250;
    --col-neg-7: #FF6C24;
    --col-neg-6: #A8E72E;
    --col-neg-5: #00B543;
    --col-neg-4: #065AB5;
    --col-neg-3: #754665;
    --col-neg-2: #FF6E59;
    --col-neg-1: #FF9D81;
}

.pixel-corners-2 {
    clip-path: polygon(
        var(--px2) 0,
        calc(100% - var(--px2)) 0,

        calc(100% - var(--px2)) var(--px),
        calc(100% - var(--px)) var(--px),
        calc(100% - var(--px)) var(--px2),
        100% var(--px2),

        100% calc(100% - var(--px2)),

        calc(100% - var(--px)) calc(100% - var(--px2)),
        calc(100% - var(--px)) calc(100% - var(--px)),
        calc(100% - var(--px2)) calc(100% - var(--px)),
        calc(100% - var(--px2)) 100%,

        var(--px2) 100%,

        var(--px2) calc(100% - var(--px)),
        var(--px) calc(100% - var(--px)),
        var(--px) calc(100% - var(--px2)),
        0 calc(100% - var(--px2)),

        0 var(--px2),

        var(--px) var(--px2),
        var(--px) var(--px),
        var(--px2) var(--px),
        var(--px2) 0
    );
}

.pixel-corners-1 {
    clip-path: polygon(
        var(--px) 0,
        calc(100% - var(--px)) 0,
        calc(100% - var(--px)) var(--px),
        100% var(--px),
        100% calc(100% - var(--px)),
        calc(100% - var(--px)) calc(100% - var(--px)),
        calc(100% - var(--px)) 100%,
        var(--px) 100%,
        var(--px) calc(100% - var(--px)),
        0 calc(100% - var(--px)),
        0 var(--px),
        var(--px) var(--px)
    );
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--col-neg-14);
    margin: 0;
}

* {
    font-family: "P8SCII";
    -webkit-font-smoothing: none;
    font-smooth: never;
    text-rendering: geometricPrecision;
    color: var(--col-7);
}

canvas {
    image-rendering: pixelated;
}

[hidden] {
  visibility: hidden;
}

.layout-table {
    position: absolute;
    inset: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-collapse: collapse;
    table-layout: fixed;
}

.layout-table td {
    height: 100%;
    vertical-align: top;
}

#table-tab-bar {
    padding: 8px;
    width: 64px;
}

#table-edit-box {
    padding: 8px;
    width: 30%;
}

#table-selection-box {
    padding: 6px;
}

.ui-panel {
    background-color: var(--col-0);
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    padding: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ui-panel > section > * {
    margin: 8px;
    box-sizing: border-box;
}

#tab-panel {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    margin-top: 16px;
}

.panel-stack { position: relative; }
.tab-pane { display: none; height: 100%; width: 100%; }

#tab_sheet:checked  ~ .layout-table #edit .tab-pane[data-tab="sheet"],
#tab_sheet:checked  ~ .layout-table #selection .tab-pane[data-tab="sheet"],
#tab_sprites:checked ~ .layout-table #edit .tab-pane[data-tab="sprites"],
#tab_sprites:checked ~ .layout-table #selection .tab-pane[data-tab="sprites"],
#tab_scenes:checked ~ .layout-table #edit .tab-pane[data-tab="scenes"],
#tab_scenes:checked ~ .layout-table #selection .tab-pane[data-tab="scenes"],
#tab_export:checked ~ .layout-table #edit .tab-pane[data-tab="export"],
#tab_export:checked ~ .layout-table #selection .tab-pane[data-tab="export"] {
  display: flex;
  flex-direction: column;
}

#tab_sheet:checked  ~ .layout-table #tab-panel label[for="tab_sheet"],
#tab_sprites:checked ~ .layout-table #tab-panel label[for="tab_sprites"],
#tab_scenes:checked ~ .layout-table #tab-panel label[for="tab_scenes"],
#tab_export:checked ~ .layout-table #tab-panel label[for="tab_export"] {
  background: var(--col-0);
  margin-left: 0px;
}

/* Override grid sizes based on selected tab */
#tab_scenes:checked ~ .layout-table #table-edit-box {
    width: 70%;
}
#tab_scenes:checked ~ .layout-table #table-selection-box {
    width: 30%;
}

.ui-tab {
    background-color: var(--col-neg-16);
    padding: 16px;
    margin: 8px -20px 8px 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-tab:has(input:checked) {
  background: var(--col-0);
    margin-left: 0px;
}

.ui-tab:hover {
    margin-left: -8px;
}

.ui-tab > span {
    transform: rotate(-90deg);
}

.button {
  font-size: 14px;
  background: var(--col-neg-11);
  padding: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
}

.button:hover {
  background: var(--col-neg-3);
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.toolbar > * {
    margin-right: 16px;
}

.item-display {
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-box {
    display: flex;
}

.edit-grid {
    display: grid;
    grid-template-columns: auto 64px;
    gap: 8px;
    align-items: center;
    height: fit-content;
    margin-left: auto;
}

.edit-grid > input {
    border: 0px;
    background-color: var(--col-7);
    color: var(--col-0);
    padding: 4px;
    margin: 0px;
}

#selected-spritelet {
    margin-right: 16px;
}
